<meta charset="UTF-8">
<title>Fryrvo</title>
<meta name="description" content="I'm Fryrvo.">

{{ $style := resources.Get "css/main.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Fryrvo Fox",
  "alternateName": "Fryrvo",
  "jobTitle": ["Musician", "Developer"],
  "sameAs": [
    "https://github.com/Fryrvo",
    "https://x.com/Fryrvo",
    "https://soundcloud.com/fryrvo",
    "https://open.spotify.com/artist/6D4MMKyp97IcBtp3U43Xb3",
    "https://music.apple.com/us/artist/fryrvo/678042795"
  ]
}
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FG9BVG7JDN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FG9BVG7JDN');
</script>
