<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Fryrvo Fox",
  "alternateName": "Fryrvo",
  "url": "https://fryrvo.com/",
  "image": "https://fryrvo.com/images/fryrvofox.png",
  "description": "musician, animator, and developer.",
  "pronouns": "they/them",
  "jobTitle": ["Musician", "Developer"],
  "sameAs": [
    "https://github.com/Fryrvo",
    "https://x.com/Fryrvo",
    "https://soundcloud.com/fryrvo",
    "https://open.spotify.com/artist/6D4MMKyp97IcBtp3U43Xb3",
    "https://music.apple.com/us/artist/fryrvo/678042795",
    "https://fryrvo.bandcamp.com"
  ]
}
</script>

<a rel="me" href="https://tech.lgbt/@Fryrvo">Mastodon</a>
