<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://www.google.com/g/11z92w4s7g",
  "name": "Fryrvo",
  "alternateName": "Fryrvo Fox",
  "url": "https://fryrvo.com/",
  "image": "https://fryrvo.com/images/fryrvofox.png",
  "description": "Musician, animator, and developer.",
  "jobTitle": ["Musician", "Developer"],
  "sameAs": [
    "https://github.com/Fryrvo",
    "https://x.com/Fryrvo",
    "https://soundcloud.com/fryrvo",
    "https://open.spotify.com/artist/6D4MMKyp97IcBtp3U43Xb3",
    "https://music.apple.com/us/artist/fryrvo/678042795",
    "https://fryrvo.bandcamp.com"
    "https://tech.lgbt/@Fryrvo
    "https://modrinth.com/user/Fryrvo"
  ]
}
</script>

<a rel="me" href="https://tech.lgbt/@Fryrvo" style="display: none;">Mastodon</a>

<meta name="google-adsense-account" content="ca-pub-5545906441116131">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJYS8FDPN6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJYS8FDPN6');
</script>
